.heading5 {
  font-size: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.fullName {
  font-size: 80px;
  font-family: Calibre-SemiBold,sans-serif;
  text-shadow: 0 15px 15px rgba(0,0,0,.16);
}

.heading4 {
  font-size: 30px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ef9218;
}

.skillsParagraph {
  font-size: 18px;
  color: #756c6c;
}

.personalDetailsWrapper {
  margin: 100px 0 0 100px 
}